<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<body>
	<div class = "jumbotron text-left">
		<h3>About Us</h3>
		<p>For immediate assistance please contact our support staff via phone or sms: (+61) 0406 886 677</p>
	</div>
</body>
</html>