<!DOCTYPE html>
<html>
<head>
	<title>Help Desk</title>
</head>
<body>
	<div class = "jumbotron text-center">
		<h1>Welcome to Tenant Options</h1>
		<p>Tenant Options is an application efficiency program that streamlines the rental application process through smart referencing for Property Managers.</p>
	</div>

</body>
</html>